<div class = "container">
    <div class = "user-row">
        <div class = "photo">
        <% if @user.photo%>
        <%= image_tag @user.photo %>
        <% end %>

        </div>
        <div class = "intro-details">
            <p class = "user-name"><%= @user.name %></p>
            <p class = "user-post-counter">Number of posts:<%= @user.posts_counter %></p>
        </div>
    </div>
    <div class = "bio">
        <p> Bio</p>
        <p><%= @user.bio %></p>
    </div>
    <% @user.recent_posts.each do |p| %>
        <div class = "post-row">
            <p class ="post-title"> <%= p.title%></p>
            <p class ="post-text"><%= p.text%></p>
            <p>
                Comments: <%= p.comments_counter%>, Likes: <%= p.likes_counter%>
            </p>
            
        </div>
    <%end%>
    <p class="posts-link">
        <button><%= link_to 'See all posts', user_posts_path(@user), class: "btn-link" %></button>
    </p>
</div>