<%# <h4>All the list of post for users is avalible here.</h4> %>
<div class ="container">
<div class = "user_row">
<div class = "photo">
<%= image_tag @user.photo %>
</div>
<div class = "intro-details">
<p class = "user-name"> <%= @users.name %></p>
<p class = "post-counter"> Number of Posts counter: <%= @user.post_counter %></p>
</div>

<% @post.each do |p| %>
<div class="post-row">
<p class = "post-title"><%= p.title %></p>
<p class = "post-text"><%= p.text %></p>
<p class = "counters">Comments:<%= p.comments_counter %>,
Likes: <%= p.likes_counter %></p>
</div>
<div class = "comment-section">

<% p.most_recent_comments.each.each do |c| %>
<p><%= c.user.name + ":" + c.text %></p>
<% end %>
</div>
<%= link_to 'See all users', user_posts_path(@user) %>
<% end %>
 <p class = "pagination"> Pagination </p>
</div>
