<div class = "container">
    <div class = "post-container">
        <div class="post-header">
            <p>
                <%= @post.title %> by
                <%= @post.user.name%>
            </p>
            <p class = "post-text">
                <%= @post.text %>
            </p>
            <div class="ind-post-footer">
                <%= button_to 'Like', user_post_likes_path(@post.user, @post) %>
                <p>
                    Comments: <%= @post.comments_counter %>,Likes: <%= @post.likes_counter %>
                </p>
            </div>
        </div>


    </div>
    <%= render '/comments/new' %>
    <div class="comment-section">
        <% @post.most_recent_comments.includes([:user]).each do |c|%>
            <p><%= c.user.name + ": " + c.text%></p>
             <% if can? :destroy, c %>
            <%= button_to "Remove", user_post_comment_path(current_user.id, @post.id, c.id), method: :delete, data: {turbo: false}%>
           <%end%>
        <%end%>
    </div>

    <div class='post-footer'>
        <button><%= link_to 'Back to posts', user_posts_path(@post.user) %></button> 
        <button><%= link_to 'Back to users', root_path %></button>
    </div>
    
</div>