<div class = "container">
    <div class = "post-container">
        <div class="post-header">
            <p>
                <%= @post.title %> by
                <%= @post.user.name%>
            </p>
            <p class = "post-text">
                <%= @post.text %>
            </p>
            <p>
                Comments: <%= @post.comments_counter %>,Likes: <%= @post.likes_counter %>
            </p>
        </div>
    </div>
    <div class="comment-section">
        <% @post.most_recent_comments.includes([:user]).each do |c|%>
           
            <p><%= c.user.name + ": " + c.text%></p>
        <%end%>
    </div> 
</div>